* {
   /*border: 1px dashed blue;*/
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
 }

header{
  height: 50px;
  background-color: #222222;
}
 .menu{
    width: 1170px;
    margin: auto;
}
.menu li{
  display: inline-block;
}
.menu li a{
color:#607789;
text-decoration: none;
padding-right: 20px;
line-height: 50px;
vertical-align: middle;
}

main{
  width: 1170px;
  margin: auto;
  margin-top: 20px;

}
#h2shop{
  padding-bottom: 20px;

}
/*.menugauche{
  border: 1px grey solid;
}*/
#b1 {
  border-radius: 5px 5px 0px 0px;
  border-bottom: 0;
  background-color: #2E6EA5;
  border: 1px #DDDDDD solid;
 }

#b1 a {
 color: white;

}
#b2{
  /*border-radius: 5px 5px 5px 5px;*/
  border-top: 0;
  border: 1px #DDDDDD solid;
  color : grey;
}
#b3 {
   border-radius: 0px 0px 5px 5px;
   border-top: 0;
   border: 1px #DDDDDD solid;
   color : grey;
}

.section1 ul li{
  list-style-type: none;
  padding: 10px;
}
.section1 ul li a{
  text-decoration: none;
   color : #414141;
}

.section1{
  width: 25%;
  display: inline-block;
  float: left;
  /*border: 10px black solid;*/
}
.section2{
  width: 75%;
  padding: 0 25px 0 25px;
  display: inline-block;
}
.borduretexte{
  border-radius: 0px 0px 5px 5px;
  border-top: 0;
  border: 1px #DDDDDD solid;



}
.price{
  float: right;
}
.button{
  float: right;
  background-color: #5CB85C;
  border-radius: 5px;
}
.commentaire{
  border-radius: 5px;
  border-top: 0;
  border: 1px #DDDDDD solid;
  margin-top: 20px;
}
#clear{
  clear: both;
}
